<div class="panel panel-default row" ng-controller="productListCtrl" ng-hide="data.error">

	
	<div class="col-sm-3">

		<div class="btn-group-vertical">
			<a href="#" class="btn btn-default" ng-class="getCategoryClass(category)" ng-click="selectCategory(category)" ng-repeat="category in data.products | orderBy:'category' | unique:'category'">{{ category }}</a>
		</div>

	</div>
		
	<div class="col-sm-9">
		<div ng-repeat="product in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
			<div class="panel">
				<h5>{{ product.name }}</h5>
				<h6>{{ product.description }}</h6>
				<h6>{{ product.category }}</h6>
				<h6 class="subheader">{{ product.price | currency }}</h6>
				<button class="btn btn-default" ng-click="addProductToCart(product)">Add To Cart</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<ul class="pagination">
					<li ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize" ng-class="getPaginationClass(page)">
						<a href="#" ng-click="selectPage(page)">{{ page }}</a>
					</li>
				</ul>
			</div>
		</div>

	</div>


   

  </div>
</div>